[mysqld]
port=3306
basedir=/alidata/server/mysql
datadir=/alidata/server/mysql/data
socket=/tmp/mysql.sock
log_timestamps=SYSTEM
default_storage_engine=InnoDB
innodb_file_per_table=1
lower_case_table_names=1
max_connections=3000
max_connect_errors=3000
back_log=500
wait_timeout=28800
max_user_connections=800
transaction_isolation=READ-COMMITTED
innodb_lock_wait_timeout=50
innodb_flush_log_at_trx_commit=2
thread_cache_size=300
key_buffer_size=128M
innodb_buffer_pool_size=1597M
innodb_log_buffer_size=16M
query_cache_size=1M
query_cache_type=1
query_cache_limit=4M
read_buffer_size=4M
sort_buffer_size=2M
join_buffer_size=2M
read_rnd_buffer_size=8M
tmp_table_size=16M
